/* your styles go here */

:root {
    --modal-radius: 50px;
}

*::-webkit-scrollbar {
    display: none !important;
}

.feed {
    position: absolute;
    top: 1em;
    right: 0;    
    width: fit-content;
    height: fit-content;
    color: #cccf20 !important;
}

.form-btn-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.form-btn {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 0.5em;
}

.page-content {
    height: 100vh !important;
}

.game-display-container {
    height: 25em;
    width: 15em;  
}

.game-display {
    background: url('http://gohst007.github.io/deps/img/games/2k23-ps4.png');
    background-repeat: no-repeat;
    height: 25em;
    width: 15em;
}

body {
    background: #22252a;
}

.load-modal-content {
    border-radius: var(--modal-radius) !important;
}

.index-content-container {
    padding: 0;
    margin: 0.5em;
    overflow: hidden;
}